/* Makeshift CC buttons via text formatting (accessible) */

.attribution--license-icons {
  /*  font-size 10px is closer to original but not accessible */
  font-size: smaller;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: auto;
  height: calc(1rem + 4px);
  overflow: hidden;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 1px;
  font-weight: bold;
}

.attribution--license-icons a {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  height: 1rem;
}

.attribution--license-icons i {
  padding: .125rem 0 0;
  line-height: 1rem;
  color: #fff;
  font-style: normal;
}

.attribution--license-icons i:last-child {
  padding-right: .5rem;
}

.attribution--license-icons .cc-icon-cc-cc {
  position: relative;
  left: -.25rem;
  top: -.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  text-align: center;
  margin-right: .25rem;
  background-color: #aaa;
  padding: .25rem;
  color: #000;
}

.attribution--license-icons .cc-icon-cc-cc span {
  display: inline-block;
  height: 1.25rem;
  width: 1.5rem;
  border: 2px solid #000;
  border-radius: 50%;
  padding: .35rem 0 0;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
}

.attribution--license-icons .cc-icon-cc-version span {
  display: none;
}
